///
/// Telemetry by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid _size(border-width);
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			margin-left: -1em;
			margin-top: -1em;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 1em 0 0 1em;

				&:last-child {
					padding-right: 0;
				}

				.icon {
					&:before {
						font-size: 1.25em;
					}
				}
			}
		}

		&.icons-bordered {
			list-style: none;
			margin-left: -1em;
			margin-top: -1em;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 1em 0 0 1em;

				&:last-child {
					padding-right: 0;
				}

				// a {
				// 	background-color: _palette(accent1, bg);
				// 	&:hover {
				// 		color: _palette(accent1, bg) !important;
				// 		background-color: _palette(accent1, fg-bold);
				// 	}
				// }

				.icon {
					@include vendor('transition', (
						'background-color #{_duration(transition)} ease-in-out'
					));
					border-radius: _size(border-radius);
					border-style: solid;
					border-width: _size(border-width);
					display: block;
					font-size: 1.25em;
					height: 2.25em;
					line-height: 2.25em;
					text-align: center;
					width: 2.25em;
				}
			}
		}

		&.contact-icons {
			list-style-type: none;
			padding: 0;

			li {
				margin-bottom: 1.5em;
				min-height: 2.4em;
				padding-left: 2.25em;

				&:before {
					font-size: 1.25em;
					left: 0;
					position: absolute;
					top: -0.1em;
				}

				a {
					text-decoration: none;
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 (_size(element-margin) * 0.5) 0 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0;
				}
			}

			&.small {
				li {
					padding: 0 (_size(element-margin) * 0.25) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: (_size(element-margin) * 0.5) 0 0 0;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.fit {
				display: table;
				margin-left: (_size(element-margin) * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{(_size(element-margin) * 0.5)});

				li {
					display: table-cell;
					padding: 0 0 0 (_size(element-margin) * 0.5);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: (_size(element-margin) * -0.25);
					width: calc(100% + #{(_size(element-margin) * 0.25)});

					li {
						padding: 0 0 0 (_size(element-margin) * 0.25);
					}
				}
			}

			@include breakpoint(xsmall) {
				margin: 0 0 _size(element-margin) 0;

				li {
					display: block;
					padding: (_size(element-margin) * 0.5) 0 0 0;
					text-align: center;
					width: 100%;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin: 0 !important;
						width: 100%;

						&.icon {
							&:before {
								margin-left: -2em;
							}
						}
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}
		}

		&.categories {
			list-style: none;
			padding: 0;
			@include vendor('display', 'flex');
			@include vendor('flex-wrap', 'wrap');
			@include vendor('justify-content', 'center');

			li {
				a {
					text-decoration: none;
					padding: 1em;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&.pagination {
			padding: 0;

			li {
				display: inline-block;
				padding: 0;
				margin-right: 5px;

				a, span {
					padding: 0 1em;

					@include breakpoint(small) {
						padding: 0 1em;
					}
				}

				span {
					border-radius: _size(border-radius);
					border: solid _size(border-width);
					border-color: _palette(border);
					display: inline-block;
					// font-size: 0.9em;
					font-weight: _font(weight-bold);
					// height: 3.7em;
					// letter-spacing: 0.13em;
					line-height: 3.5em;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					white-space: nowrap;
				}

				&.active * {
					border-color: _palette(bg);
					color: _palette(bg);
					background-color: _palette(accent1, bg);
				}
			}
		}
	}

	dl {
		margin: 0 0 _size(element-margin) 0;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}

	@mixin color-list($p: null) {
		ul {
			&.alt {
				li {
					border-top-color: _palette($p, border);
				}
			}

			&.icons-bordered {
				.icon {
					// border-color: _palette($p, fg);

					&:hover {
						background-color: _palette($p, bg);
 					 	color: _palette($p, fg-bold);
						//  background-color: _palette($p, bg);
					}

					&:active {
						background-color: _palette($p, bg);
					}
				}
			}

			&.contact-icons {
				li {
					&:before {
						color: _palette($p, fg-bold);
					}
				}
			}
		}
	}

	@include color-list(accent1);
