///
/// Telemetry by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Split */

	.split {
		// @include vendor('align-items', 'flex-start');
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		@include vendor('justify-content', 'space-around');
		// margin-left: (_size(gutter) * -2);
		// margin-bottom: _size(element-margin);

		> * {
			// margin-left: (_size(gutter) * 2) !important;
			max-width: 32%;
			padding: 2em .75em;
			@extend .vora-inferior;
			@include vendor('flex', '1 1 auto');

			> :last-child {
				margin-bottom: 0;
			}
		}

		section.article {
			@include vendor('display', 'flex');
			@include vendor('flex-direction', 'column');
			height: 100%;
			
			.article__meta {
				margin-top: auto;
			}
		}

		a {
			display: block;
			text-decoration: none;
		}

		a:hover {
			// background-color: _palette(accent1, border-bg);
			background-color: _palette(border-bg);
		}

		&.centered {
			@include vendor('align-items', 'center');
		}

		&.reversed {
			// ...
		}

		&.style1 {
			> * {
				&:nth-child(2n - 1) {
					width: 33%;
				}

				&:nth-child(2n) {
					width: 67%;
				}
			}
		}

		@include breakpoint(large) {
			// margin-left: (_size(gutter) * -1.25);

			> * {
				// margin-left: (_size(gutter) * 1.25) !important;
			}

			&.centered {
				@include vendor('align-items', 'flex-start');
			}

			&.reversed {
				// ...
			}
		}

		@include breakpoint(medium) {
			// @include vendor('flex-direction', 'column');
			margin-left: 0;

			> * {
				margin-left: 0 !important;
				// margin-top: (_size(gutter) * 1.25) !important;
				max-width: 49% !important;

				&:first-child {
					margin-top: 0 !important;
				}
			}

			&.centered {
				// ...
			}

			&.reversed {
				@include vendor('flex-direction', 'column-reverse');

				> * {
					margin-bottom: (_size(gutter) * 1.25) !important;
					margin-top: 0 !important;

					&:first-child {
						margin-bottom: 0 !important;
					}
				}
			}
		}

		@include breakpoint(small) {
			> * {
				padding: 2em .5em;
				// margin-top: _size(gutter) !important;
			}

			&.centered {
				// ...
			}

			&.reversed {
				> * {
					margin-bottom: _size(gutter) !important;
				}
			}
		}
	}
