///
/// Telemetry by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Wrapper */

	.wrapper {
		@include padding(1.5em, 0);
		position: relative;

		> .inner {
			margin: 0 auto;
			width: _size(inner);
			max-width: calc(100% - #{_size(gutter) * 2});

			&.inner__article {
				font-size: 1.25em;
				width: _size(inner-article);
				max-width: calc(100% - #{_size(gutter) * 4});

				@include breakpoint(small) {
					// width: _size(inner);
					font-size: 1.15em;
					max-width: calc(100% - #{_size(gutter)});
				}

				.article__meta {
					@include vendor('display', 'flex');
					@include vendor('justify-content', 'space-between');

					@include breakpoint(xsmall) {
						display: block;
					}
				}
			}
		}

		&.style1 {
			@include color(accent1);
		}

		&.style2 {
			@include color(accent2);
		}

		&.mes-articles {
			padding: 0;
		}

		@include breakpoint(small) {
			@include padding(1.5em, 0);

			> .inner {
				max-width: calc(100% - 2em);
			}
		}
	}
