///
/// Telemetry by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///
/* Footer */

.logos {
	@include vendor('display', 'flex');
	@include vendor('justify-content', 'space-around');
	@include vendor('align-items', 'center');
	@include vendor('flex-wrap', 'wrap');
	a {
		padding: 1em;
		@include vendor('display', 'flex');
		@include vendor('align-items', 'baseline');
		img {
			max-width: 200px;
			max-height: 95px;
			height: auto;
			@include breakpoint(small) {
				max-width: 115px;
			}
		}
	}
}

#footer {
	@include color-typography(accent1);
	@include color-button(accent1);
	@include color-form(accent1);
	@include color-list(accent1);
	padding: 3em 2em; //background-color: _palette(accent1, bg);
	text-align: center;
	ul.icons-bordered {
		.icon {
			&:hover,
			&:active {
				background-color: _palette(accent1, fg-bold);
				color: _palette(accent1, bg);
			}
		}
	}
	>.inner {
		margin: 0 auto;
		width: _size(inner);
		max-width: calc(100% - #{_size(gutter) * 2});
	}
	.copyright {
		border-top: solid _size(border-width) _palette(accent1, border);
		font-size: 0.9em;
		margin-top: 2em;
		margin-bottom: 0;
		padding-top: 1em;
		text-align: center;
		width: 100%;
	}
	@include breakpoint(large) {
		@include padding(3em, 0);
		.contact {
			margin-right: _size(gutter) * 0.5;
		}
	}
	@include breakpoint(small) {
		>.inner {
			max-width: calc(100% - 3em);
		}
		.copyright {
			// margin-top: 2em;
			// padding-top: 2em;
		}
	}
}